<div class="containerList">    
    <div class="containerList__btn">
        <button routerLink="/add" type="button" class="btn btn-outline-primary">Agregar</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre del Paciente</th>
                <th scope="col">Documento del Paciente</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listPacientes" class="table-light" >
                <th>{{item.nombrePaciente}}</th>
                <th>{{item.numeroDocumento }}</th>
                <th>{{item.fechaNacimiento }}</th>
                <th>{{item.correo}}</th>
                <th>{{item.numeroTelefono}}</th>
                
                <td>
                    <button type="button" class="btn btn-secondary btn-sm" style="margin-right: 10px;">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm">Inactivar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>